header {

    display: grid;
    grid-template-columns: 1fr 1fr;

}

main.container {

    width: 60%;
    margin: auto;
}

header h1 {

    color: purple;
    margin-bottom: 0px;
}

header p {

    margin-top: 0px;

}

.navig li {

    display: inline-block;
    font-size: 20px;
    padding: 20px;
    text-align: right;

}

section.picture {

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 100px auto;

}

section.picture img {

    width: 40%;
    margin: auto 40px;

}

.tell-us {

    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.our-team {

    text-align: center;

}

hr {

    border-top: 2px solid black;
    width: 10%;

}

.team {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

div.team div img {

    width: 40%;
}

.center {
    padding: 10px;
    background-color: purple;
    margin: 50px auto;

}

.center h1 {
    color: white;
    text-align: center;

}

.center hr {

    border-top: 2px solid black;
    width: 6.5%;
}

.text{
padding: 20px;
    display: flex;
   justify-content: center;
    margin: 10px auto;
}
input{

    margin-right: 7px;
}







/* розовое */
































































/* main second */
.testimonials {

    text-align: center;
}

.testimonials hr {

    border-top: 2px solid black;
    width: 6.5%;

}

.testers {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.testers div img {

    width: 45%;
}


/* footer */

footer {

    box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
0px -14px 20px -20px rgba(0,0,0,0.45);

    margin-top: 80px;
}

div.spider h1 {

    margin-top: 40px;
}

.sitemap {

    list-style-type: none;
}

.about {

    list-style-type: none;
    margin-top: 80px;
}

.contacts {

    list-style-type: none;
    color: black;
}

i {

    margin: 4px;

}



.emine{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 60%;
    margin: auto;

}

