body{


    background-color: white;
    
}

header h1{

color: purple;

}

header ul{


    display: inline;
    list-style-type: none;
}

header.h2{

    text-align: center;
}

header.span{

    text-align: center;

}

.center{


    text-align: center;

    background-color: purple;

   
}

.sitemap{

    list-style-type: none;
}

.contacts{

    list-style-type: none;
}

a{

    text-decoration: none;
    color: black;
    list-style-type: none;
}
